@inherits LayoutComponentBase

<div class="page rz-background-color-base-800">
    <RadzenComponents />
    <main>
        <div class="top-row px-4  rz-background-color-base-800" style="color: var(--rz-text-color)">
            By<a style="color: var(--rz-text-color)" href="https://learn.microsoft.com/aspnet/core/" target="_blank">Theo Imad Ladal</a>
        </div>
        <article class="rz-background-color-base-800">
            @Body
        </article>
    </main>
</div>
